<li (dblclick)="activateEditMode(item)" (keyup.enter)="desactivateEditModeAndSaveChanges(item)" (keyup.esc)="desactivateEditMode(item)" [ngClass]="{'completed': item.completed, 'editing': item.editMode}"   >
    <div  class="view">
      <input (click)="changeStatus(item)"  class="toggle" type="checkbox" [checked]="item.completed" />
      <label>{{item.title}}</label>
      <button (click)="deleteItem(item)"  class="destroy"></button>
    </div>
    <input #inputTitle class="edit" [value]="item.title" [formControl]="inputItemTitle" (focus)="item.editMode" />
</li>