<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span *ngIf="numberOfCompletedItems !== 1 " class="todo-count"><strong>{{numberOfCompletedItems}}</strong> items left</span>
    <span *ngIf="numberOfCompletedItems === 1 " class="todo-count"><strong>{{numberOfCompletedItems}}</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <a (click)="goTo('all')" [ngClass]="{selected : filter === 'all'}">All</a>
      </li>
      <li>
        <a (click)="goTo('pending')" [ngClass]="{selected : filter === 'pending'}" >Pending</a>
      </li>
      <li>
        <a (click)="goTo('completed')" [ngClass]="{selected : filter === 'completed'}" >Completed</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed">Clear completed</button>
</footer>