<section class="todoapp">
  <app-header ></app-header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main" *ngIf="itemsService.itemsList.length > 0">
      <app-items-list  [items]="itemsService.itemsList"></app-items-list>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <app-footer *ngIf="itemsService.itemsList.length > 0" [numberOfCompletedItems]="this.itemsService.completedItems.length"></app-footer>
  </div>
</section>
